@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
}

label:hover {
  cursor: url("/cursor.png"), auto;
}

button:hover,
a:hover,
input[type="submit"]:hover {
  cursor: url("/cursor-pointer.png"), pointer;
}

input[type="text"]:hover,
textarea:hover {
  cursor: url("/cursor-text.png"), text;
}
